.rh_prop_card .rh_prop_card__thumbnail img {
    width: 100%;
    height: 200px;
    -webkit-transition: .2s -webkit-transform linear;
    transition: .2s -webkit-transform linear;
    transition: .2s transform linear;
    transition: .2s transform linear,.2s -webkit-transform linear;
}